#Liste des packages

python -m pip install Requests
python -m pip install bs4
python -m pip install lxml
python -m pip install pandas
python -m pip install html5lib
python -m pip install scrapy
python -m pip install xmltodict
python -m pip install elementpath
